.statistic {
    grid-column: 1/7;
    grid-row: 2/5;
    // height: 250px;
    // width: 400px;
}

.information {
    grid-column: 8/13;
    grid-row: 2/4;

    p {
        font-size: 25px;
        color: $light;
        padding-bottom: 20px;
    }
}