.statistic {
    grid-column: 1/5;
    grid-row: 2/4;
    background-color: rosybrown;
    height: 250px;
}

.information {
    grid-column: 7/13;
    grid-row: 2/4;

    p {
        font-size: 25px;
        color: $light;
        padding-bottom: 20px;
    }
}