$dark: #1C2126;
$light: #F2EDED;
$purple:#4525F2;
$background: #414141;

// Disable white background on autofill
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px $background inset !important;
}

// Disable color change on autofill
input:-webkit-autofill
{
 -webkit-text-fill-color: $light !important;
 -webkit-border-after: 1px solid lightgray !important;
}

@mixin inputWithLabel {
    .btn {
        cursor: pointer;
        background: 0;
        border: 0;
        padding: 0;
        color: inherit;
    }
    
    .btn.create {
        font-size: 1.5rem;
        font-weight: 900;
        margin-right: 0.25em;
        transition: opacity 250ms ease-in;

    }
    
    .btn.create:hover {
        opacity: 0.7;
    }

    .new {
        background: transparent;
        border: 0;
        color: inherit;
        border-bottom: 1px solid currentColor;
        font-size: inherit;
        outline: none;
        padding: 0.25em;

        transition: border-bottom 150ms ease-in;
        order: 2;
    }
    
    .new::placeholder {
     color: inherit;
     opacity: 0.4;
    }

    .new.list {
        font-size: 1.1rem;
    }
    
    .new:focus {
        border-bottom-width: 3px;
    }
    
    .new:focus::placeholder {
        opacity: 0.2;
    }
}

@mixin customButton($width) {
    width: $width;
    height: 50px;
    border: solid 1px grey;
    background: none;
    font-size: 20px;
    color: $light;
    cursor: pointer;
} 

@mixin formCard {
    width: 100%;
    border: solid 3px grey;
    margin-top: 50px;
}

@mixin formCardHeader {
    h1 {
        color: $light;
        margin-left: 15px;
        font-weight: 300;
        margin-top: 10px;
    }

    hr {
        width: 95%;
        border-color: lightgray;
        margin-top: -10px;
    }
}

@mixin inputField {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 30px;

    label {
        width: 30%;
        font-size: 25px;
        margin-top: 10px;
        padding-left: 30px;
        color: #6e6e6e;
        font-weight: 400;
    }

    div {
        width:45%;

        input {
            background: transparent;
            border: 0;
            color: #6e6e6e;
            border-bottom: 1px solid currentColor;
            font-size: 25px;
            outline: none;
            margin-left: 20px;
            width: 90%;
            font-weight: 400;
        
            transition: border-bottom 150ms ease-in;
            order: 2;
        }

        input:focus {
            border-bottom-width: 3px;
        }
    }

}

.error {
    margin: 5px 0px 0px 20px;
    display: none;
    color: crimson;
}

@import "./navigation";
@import "./to-do";
@import "./statistic";
@import "./profile";
@import "./register-login";

html{
    scroll-behavior: smooth;
}

.background-homepage{
    background: url(/focusWebApp/public/img/laptop-background.jpg);
    background-size: cover;
    height: 100vh;
    height: 100vh;
    width: 100vw;
}

html, body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: $background;
    font-family: 'Inter', sans-serif;
}


.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
}


// Homepage
.homepage-quote{
    grid-column: 4/10;
    grid-row: 3/4;
    justify-self: center;
    align-self: center;
    cursor: default;
    p{
        font-size: 25px;
        text-align: center;
        color: $light;

        span {
            opacity: 0.5;
        }

        span:last-child{
            font-size: 20px;
        }
    }
}

#arrow-down{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    color: $light;
    opacity: 0.2;
    transition: 1s ease-in-out;
    cursor: pointer;
    bottom: 20px;
    left:50%
}


.container-2{
    height: 100vh;
    width: 100vw;
    background: transparent;
}

.slider-background{
    background-color: #394046;
    width: 100vw;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;

    .owl-carousel{



        .item{
            height: 330px;
            width: 40%;
            margin: auto;
            cursor: pointer;

            .p-item{
                color: $light;
                font-size: 20px;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            .img-item{
                height: 90%;
                width: auto;
                display: block;
                border: 2px solid $dark;
                z-index: 100;
                margin-left: auto;
                margin-right: auto;
                margin-top: 5px;
            }
        }

        
    }
}

.homepage-p{
    // grid-column: 3/11;
    // grid-row: 12/14;
    width: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    color: $light;
    margin-top: 50px;
    cursor: default;
}

.homepage-a{
    // grid-column: 5/9;
    // grid-row: 14/15;
    // margin-bottom: 255px;
}

.homepage-btn{
    width: 30%;
    height: 100px;
    position: relative;
    left: 35%;
    margin: 50px 0;
    border: 1px solid grey;
    background: none;
    font-size: 40px;
    color: $light;
    cursor: pointer;
    box-sizing: border-box;
}



